:root{

    --regatto-font:'Regatto', RegattoBold;
    --urw-font:'regular' ,URWClassicoW01-Regular;
    --lora-font:'lora', Lora-Regular;
    --Josefin-font: 'Josefin Sans', Josefinsans;
    --font-size-12px: 12px;
    --font-size-14px: 14px;
    --font-size-26px: 26px;
    --font-size-30px: 30px;
    --font-size-35px: 35px;
    --font-size-38px: 38px;
    --font-size-40px: 40px;
  }

  /* font sizes */
.fs-12-px {
    font-size: var(--font-size-12px)
}

.fs-14-px {
    font-size: var(--font-size-14px)
}
.fs-26-px {
    font-size: var(--font-size-26px)
}

.fs-30-px {
  font-size: var(--font-size-30px)
}

.fs-35-px {
  font-size: var(--font-size-35px)
}

.fs-38-px {
  font-size: var(--font-size-38px)
}

.fs-40-px {
  font-size: var(--font-size-40px)
}


/* fonts */
.lora-font {
    font-family: var(--lora-font);
  }

.urw-font {
    font-family: var(--urw-font);
  }
  
.regatto-font {
    font-family: var(--regatto-font);
  }

  .Josefin-sans {
    font-family: var(--Josefin-font);
  }

  /* topics */
  .topics {
    font-size: var(--font-size-38px);
    font-family: var(--regatto-font);
  }
  

/* home page */
/* right corner border */
  .yellow-border{
    border-left: 5px solid yellow;
}




